var convict = require('convict');

var conf = convict({
    port: "8080",
    publish: {
        source: {path: "./node_modules/", key: "change-to-your-key"}
    },
    subscribe: {
        main: {
            address: "http://127.0.0.1:8080",
            folders: {
                source: {path: "../dest/", key: "change-to-your-key"}
            }
        }
    }
});

module.exports = conf;
